
* {
  box-sizing: border-box;
}

body {
  background-color: #E1E1DF;
  margin: 0 auto;
}

.mainHeader {
  background-color: #fff;
  width: 100%;
  padding: 15px 25px;
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.clear {
  clear: both;
}

h1, h2, h3, h4, h5 {
  font-family: "jaf-domus", sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  color: #192A30;
  margin: 0;
  z-index: 1;
}

h2 {
  letter-spacing: 5px;
  font-size: 1.8em;
}

h1 {
  font-size: 3.4em;
}

@media only screen and (max-width: 32em) {
  h1 {font-size: 2.4em;}
}

p {
  font-family: "freight-text-pro", serif;
  font-style: italic;
  font-weight: 300;
  font-size: 1.2em;
  margin: 0;
  padding: 8px;
}

nav {
  padding-top: 5px;
}

nav a {
  font-family: "freight-text-pro", serif;
  font-size: 1.3em;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  padding: 5px 12px;
}

header a {
  text-decoration: none;
  color: #192A30;
}

.workLink:hover,
.workLink-active {
  border-bottom: 2px solid #192A30;
}

.skillsLink:hover {
  border-bottom: 2px solid #349565;
}

.aboutLink:hover {
  border-bottom: 2px solid #EF8253;
}

.resumeLink:hover {
  border-bottom: 2px solid #F0C2B0;
}

.logo:hover {
  opacity: 0.5;
}

.menuIcon {
  width: 35px;
  display: none;
}

@media only screen and (max-width: 42em) {
  nav.floatRight {
    float: none;
    text-align: center;
  }
  nav a {
    font-size: 1.1em;
    padding: 5px 6px;
  }
}


@media only screen and (max-width: 42em) {
  h2.floatLeft {
    float: none;
    text-align: center;
  }
}

.intro {
  max-width: 575px;
  margin: 0 auto;
  text-align: center;
  padding: 90px 0px;
}

@media only screen and (max-width: 32em) {
  .intro {
    padding: 50px 0px;
  }
}

.dotImg {
  display: block;
  width: 200px;
  margin: 0 auto;
  padding: 20px 0px;
}

.sectionHeader {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 190px 20px;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

@media only screen and (max-width: 45em) {
  .sectionHeader {
    padding: 90px 20px;
  }
}

.overlay {
  position: relative;
}

.overlay:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  opacity: 0.75;
  transition: opacity 0.6s ease;
}

.overlay:hover:before{
  opacity: 0.3;
}

.workHeader:before {
  background-color: #192A30;
}

.skillsHeader:before {
  background-color: #349565;
}

.aboutHeader:before {
  background-color: #EF8253;
}

.resumeHeader:before {
  background-color: #F0C2B0;
}

h3 {
  color: #fff;
  font-size: 5em;
  position: relative;
  text-shadow: 1px 1px 1px #808080;
  font-weight: 200;
}

@media only screen and (max-width: 32em) {
h3 {font-size: 3.8em;}
}

.workHeader {
  background-image: url('../images/img_WORK.jpeg');
}

.skillsHeader {
  background-image: url('../images/img_SKILLS2.jpeg');
}

.aboutHeader {
  background-image: url('../images/about-img.jpg');
}

.resumeHeader {
  background-image: url('../images/img_RESUME.jpeg')
}

footer {
  text-align: center;
}

h4 {
  font-size: 2.5em;
  padding: 20px;
}

@media only screen and (max-width: 45em) {
h4 {font-size: 2.1em;}
}

h5 {
  font-size: 1.5em;
  font-weight: 300;
}

.emailButton {
  padding: 15px;
  width: 120px;
  height: 50px;
  font-family: "jaf-domus", sans-serif;
  font-size: 1em;
  color: #ED8052;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #ED8052;
  border-radius: 5px;
  background-color: #fff;
  margin: 10px;
  display: inline-block;
  transition: all 0.6s ease;
}

.emailButton:hover {
  color: #fff;
  background-color: #ED8052;
}

.linkedImg {
  width: 90px;
  padding: 15px;
}

.aboutWrapper {
  position: relative;
}

/* TODO remove this */
/* .workContent {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px 40px 0px;
} */

.workImg {
  max-width: 320px;
  padding: 10px;
  margin: 0 auto;
}

.textBox {
  max-width: 420px;
  margin: 0 auto;
  padding: 10px;
}

@media only screen and (max-width: 45em) {
.workContent .floatRight, .workContent .floatLeft{
  float: none;
}
}

.aboutContent {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px 40px 0px;
  display: none;
}

.aboutContent p {
  padding: 20px;
}

.aboutImg {
  width: 100%;
}

.skillsContent {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0px 40px 0px;
  display: none;
}

.skillsImg {
  width: 400px;
}

@media only screen and (max-width: 32em) {
.skillsImg {
  width: 100%;
  padding: 0px 20px;
}
}

p a {
  text-decoration: none;
  color: #349565;
}

.site-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 25px;
}
